body {
    margin: 0px;
}
#body-header{
    height: 65vh;
    opacity: 0.9;
    /*background-image: url(https://cdn.mos.cms.futurecdn.net/KzhmAWotJ6WRrcBai4H5LM-970-80.jpg);*/
    background-image: url(https://new.library.arizona.edu/sites/default/files/styles/large/public/Tech-macbook.jpg?itok=0SgMCcs_);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 1.2rem ;
}

.horizontal-list {
    list-style: none;
    padding-left: 0px;
    margin: 0px;
   
}

.horizontal-list li {
    display: inline-block;
    margin: 0px 8px 8px 0px;
    font-weight: 100;
    font-size: 1.1rem;
}

.horizontal-list li a {
    color: white;
    text-decoration: none;
   
}

.nav-menu li a {
    transition: color 0.5s, border-bottom 2s;
}

.nav-menu li a:hover {
   color: peachpuff;
   border-bottom: 0.2px solid white;
}

.text-center {
    text-align: center;
}

#name-container {
    margin-top: 20vh;
}

#my-name {
    font-size: 3rem;
    letter-spacing: 0.1rem;
    color: white;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.social-icons li a i {
    /* color: teal; */
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 50%;
}

.social-icons li a i:hover {
    
    box-shadow: 0px 0px 6px 4px lightgrey;
}

#about {
    height: auto;
    width: 100%;
    position: relative;
}

#my-image {
    height: 12rem;
    width: 12rem;
    margin: auto;
    margin-top: -17vh;
    position: relative;
}

#my-image img {

    height: 100%;
    width: 100%;
    border-radius: 50%;
    /*position: absolute;*/
    border: 3px solid white;
    box-shadow: 1px 1px 10px 2px lightgrey;
}

.about-para {
    padding: 10px;
    width: 50%;
    height: 100%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    color: blue;
    line-height: 28px;
    font-weight: 100;
    font-size: 1.1rem;
    
}

section {
    width: 100%;
   /*height: 20rem;*/
    display:flex;
    flex-direction: column;
    align-items: center;
}

section:nth-child(2n+1) {
    background-color: white;

}
section:nth-child(2n) {
    background-color: rgb(233, 229, 229);
    
}

.section-heading {
    width: auto;
    padding: 20px 10px 10px;
    /* margin: 10px auto; */
    font-weight: 100;
}

.section-heading span {
    font-size: 30px;
    color: #2857a4;
    display: inline-block;
    padding-top: 10px;
    margin-right: 0.5rem;
}


.skills-display {
    width: 70%;
    /* height: 100px;
    border: 2px solid black; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 40px;
}

.skill-progress {
    width: 7rem;
    height: 1.4rem;
    background-color: lightgrey;
    border-radius: 0.8rem;
}

.percent {
    width: 85%;
    height: inherit;
}

.mb75px {
    margin-bottom: 75px;
}

.mb {
    background-color: #ff3333;

}

.mb-blue {
  background-color: #2857a4;
}

.skill-name span {
    color: white;
    font-size: 1rem;
    margin-left: 7px;
    


}

.skills-display {
    margin-bottom: 30px;
}

.skill-progress>div {
  border-radius: 20px 0px 0px 20px;
}


.timeline {
    position: relative;
    width: 75%;

}

.timeline-box  {
    position: relative;
    margin: 5px;
    width: 40%;
    left: 5%;
    min-height: 150px;
    /*border: 2px solid black;*/
}

.timeline-box:nth-child(2n)  {
    left: 53%;
}

.timeline-box:nth-child(2n+1)::after {
    content: '';
    position: absolute;
    top:28%;
    right: -7.3%;
     border-radius: 50%;
     width: 0.5rem;
     height: 0.5rem;
      background-color: grey;
      z-index: 1;
}

.timeline-box:nth-child(2n)::after {
    content: '';
    position: absolute;
    top:28%;
    left: -8.7%;
     border-radius: 50%;
     width: 0.5rem;
     height: 0.5rem;
      background-color: grey;
      z-index: 1;
}

.timeline-divider {
    position: absolute;
    height: 75%;
    width: 0;
    border: 3px dotted #efccff;
    top: 10%;
    left: 50%;
}


.timeline-traveller {
    position: sticky;
    top: 78%;
    transform: rotate(90deg);
    z-index: 2;
}

.pos {
    color: black;

    position: relative;

    right: 9.5%;
    margin-top: -8vh;
    margin-bottom: 40px;
   
}

.college {
    padding: 10px;
    
    
    font-family: Arial, Helvetica, sans-serif;
    
    color: blue;
    /*line-height: 28px;*/
    /*font-weight: 100;*/
    font-size: 1.1rem;
}

.project {
    margin-top: -40px;
    padding-bottom: 50px;
}

.box {
    border-top-style: hidden;
      border-right-style: hidden;
      border-left-style: hidden;
      border-bottom-style: hidden;
      background-color: #e0b3ff;
      outline: none;
      padding: 20px
       font-family: Arial, Helvetica, sans-serif;
     font-size: 1.1rem;
     
     }

     .contact-box {
        margin: 5rem;
        margin-top: -7vh;
        /*padding: 10px;*/
        /*display: flex;
        flex-direction: row;
*/
     }


     .about-address {
         padding: 10px;
    width: 50%;
    height: 100%;
    /*margin: auto;*/
    font-family: Arial, Helvetica, sans-serif;
    /*text-align: justify;*/
    color: blue;
    line-height: 28px;
    font-weight: 100;
    font-size: 1.1rem;
     }


     .para-position {
        color: blue;
        line-height: 28px;
    font-weight: 100;
    font-size: 1.1rem;
        font-family: Arial, Helvetica, sans-serif;
        position: absolute;
        top: 156.4rem;
        left: 50rem;
     }

      .phone-position {
        color: blue;
        line-height: 28px;
    font-weight: 100;
    font-size: 1.1rem;
        font-family: Arial, Helvetica, sans-serif;
        position: absolute;
        top: 158rem;
        left: 50rem;
     }

.margin-set {
    margin-bottom: 50px;
   

}